<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selegant.kettle.mapper.KettleRepositoryMapper">
  <resultMap id="BaseResultMap" type="com.selegant.kettle.model.KettleRepository">
    <!--@mbg.generated generated on Tue Dec 31 16:12:41 CST 2019.-->
    <!--@Table k_repository-->
    <id column="repository_id" jdbcType="INTEGER" property="repositoryId" />
    <result column="repository_name" jdbcType="VARCHAR" property="repositoryName" />
    <result column="repository_username" jdbcType="VARCHAR" property="repositoryUsername" />
    <result column="repository_password" jdbcType="VARCHAR" property="repositoryPassword" />
    <result column="repository_type" jdbcType="VARCHAR" property="repositoryType" />
    <result column="database_access" jdbcType="VARCHAR" property="databaseAccess" />
    <result column="database_host" jdbcType="VARCHAR" property="databaseHost" />
    <result column="database_port" jdbcType="VARCHAR" property="databasePort" />
    <result column="database_name" jdbcType="VARCHAR" property="databaseName" />
    <result column="database_username" jdbcType="VARCHAR" property="databaseUsername" />
    <result column="database_password" jdbcType="VARCHAR" property="databasePassword" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="add_user" jdbcType="INTEGER" property="addUser" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="edit_user" jdbcType="INTEGER" property="editUser" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="use_flag" jdbcType="INTEGER" property="useFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Dec 31 16:12:41 CST 2019.-->
    repository_id, repository_name, repository_username, repository_password, repository_type,
    database_access, database_host, database_port, database_name, database_username,
    database_password, add_time, add_user, edit_time, edit_user, del_flag,use_flag
  </sql>
  <update id="truncateRecord">
    truncate table kettle_resource;
    truncate table xxl_job_info;
    truncate table xxl_job_log;
    truncate table xxl_job_log_report;
  </update>
  <update id="updateOtherUseFlag" parameterType="int">
    update kettle_repository set use_flag = 0
    <where>
      repository_id != #{id}
    </where>
  </update>
  <select id="getUsedKettleRepository" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from kettle_repository
    where use_flag = 1
  </select>
</mapper>
