<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selegant.common.mapper.EtlUserMapper">
  <resultMap id="BaseResultMap" type="com.selegant.common.model.EtlUser">
    <!--@mbg.generated-->
    <!--@Table etl_user-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, username, `password`, avatar, `status`, telephone, last_login_ip, last_login_time, 
    creator_id, create_time, merchant_code, deleted, role_id
  </sql>
</mapper>