<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selegant.xxljob.dao.XxlJobInfoDao">

	<resultMap id="XxlJobInfo" type="com.selegant.xxljob.core.model.XxlJobInfo" >
		<result column="id" property="id" />

		<result column="job_group" property="jobGroup" />
	    <result column="job_cron" property="jobCron" />
	    <result column="job_desc" property="jobDesc" />

	    <result column="add_time" property="addTime" />
	    <result column="update_time" property="updateTime" />

	    <result column="author" property="author" />
	    <result column="alarm_email" property="alarmEmail" />

		<result column="executor_route_strategy" property="executorRouteStrategy" />
		<result column="executor_handler" property="executorHandler" />
	    <result column="executor_param" property="executorParam" />
		<result column="executor_block_strategy" property="executorBlockStrategy" />
		<result column="executor_timeout" property="executorTimeout" />
		<result column="executor_fail_retry_count" property="executorFailRetryCount" />

	    <result column="glue_type" property="glueType" />
	    <result column="glue_source" property="glueSource" />
	    <result column="glue_remark" property="glueRemark" />
		<result column="glue_updatetime" property="glueUpdatetime" />

		<result column="child_jobid" property="childJobId" />

		<result column="trigger_status" property="triggerStatus" />
		<result column="trigger_last_time" property="triggerLastTime" />
		<result column="trigger_next_time" property="triggerNextTime" />
		<result column="object_id" property="objectId" />
		<result column="object_type" property="objectType" />
		<result column="current_collect_time" property="currentCollectTime"/>
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.job_group,
		t.job_cron,
		t.job_desc,
		t.add_time,
		t.update_time,
		t.author,
		t.alarm_email,
		t.executor_route_strategy,
		t.executor_handler,
		t.executor_param,
		t.executor_block_strategy,
		t.executor_timeout,
		t.executor_fail_retry_count,
		t.glue_type,
		t.glue_source,
		t.glue_remark,
		t.glue_updatetime,
		t.child_jobid,
		t.trigger_status,
		t.trigger_last_time,
		t.trigger_next_time,
		t.object_id,
		t.object_type
	</sql>

	<select id="pageList" parameterType="java.util.HashMap" resultMap="XxlJobInfo">
		SELECT <include refid="Base_Column_List" />,x.current_collect_time
		FROM xxl_job_info AS t left join collect_time x on t.job_desc = x.view_name
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="jobGroup gt 0 and jobGroup != null">
				AND t.job_group = #{jobGroup}
			</if>
            <if test="triggerStatus gte 0">
                AND t.trigger_status = #{triggerStatus}
            </if>
			<if test="jobDesc != null and jobDesc != ''">
				AND t.job_desc like CONCAT(CONCAT('%', #{jobDesc}), '%')
			</if>
			<if test="executorHandler != null and executorHandler != ''">
				AND t.executor_handler like CONCAT(CONCAT('%', #{executorHandler}), '%')
			</if>
			<if test="author != null and author != ''">
				AND t.author like CONCAT(CONCAT('%', #{author}), '%')
			</if>
			<if test="objectType != null and objectType != ''">
				AND t.object_type = #{objectType}
			</if>
			<if test="cron != null and cron != ''">
				AND t.job_cron = #{cron}
			</if>
		</trim>
		<if test="sortField != null and sortField != ''">
			order by
			${sortField}
			<if test="sortOrder=='descend'">
				desc
			</if>
		</if>
		<if test="sortField == null or sortField == ''">
			ORDER BY id DESC
		</if>

		LIMIT #{offset}, #{pagesize}
	</select>

	<select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1)
		FROM xxl_job_info AS t left join collect_time x on t.job_desc = x.view_name
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="jobGroup gt 0">
				AND t.job_group = #{jobGroup}
			</if>
            <if test="triggerStatus gte 0">
                AND t.trigger_status = #{triggerStatus}
            </if>
			<if test="jobDesc != null and jobDesc != ''">
				AND t.job_desc like CONCAT(CONCAT('%', #{jobDesc}), '%')
			</if>
			<if test="executorHandler != null and executorHandler != ''">
				AND t.executor_handler like CONCAT(CONCAT('%', #{executorHandler}), '%')
			</if>
			<if test="author != null and author != ''">
				AND t.author like CONCAT(CONCAT('%', #{author}), '%')
			</if>
			<if test="objectType != null and objectType != ''">
				AND t.object_type = #{objectType}
			</if>
			<if test="cron != null and cron != ''">
				AND t.job_cron = #{cron}
			</if>
		</trim>
	</select>

	<insert id="save" parameterType="com.selegant.xxljob.core.model.XxlJobInfo" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO xxl_job_info (
			job_group,
			job_cron,
			job_desc,
			add_time,
			update_time,
			author,
			alarm_email,
            executor_route_strategy,
			executor_handler,
			executor_param,
			executor_block_strategy,
			executor_timeout,
			executor_fail_retry_count,
			glue_type,
			glue_source,
			glue_remark,
			glue_updatetime,
			child_jobid,
			trigger_status,
			trigger_last_time,
			trigger_next_time,
			object_type
		) VALUES (
			#{jobGroup},
			#{jobCron},
			#{jobDesc},
			#{addTime},
			#{updateTime},
			#{author},
			#{alarmEmail},
			#{executorRouteStrategy},
			#{executorHandler},
			#{executorParam},
			#{executorBlockStrategy},
			#{executorTimeout},
			#{executorFailRetryCount},
			#{glueType},
			#{glueSource},
			#{glueRemark},
			#{glueUpdatetime},
			#{childJobId},
			#{triggerStatus},
			#{triggerLastTime},
			#{triggerNextTime},
			#{objectType}
		);
		<!--<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
			/*SELECT @@IDENTITY AS id*/
		</selectKey>-->
	</insert>

	<select id="loadById" parameterType="java.util.HashMap" resultMap="XxlJobInfo">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_job_info AS t
		WHERE t.id = #{id}
	</select>

	<update id="update" parameterType="com.selegant.xxljob.core.model.XxlJobInfo" >
		UPDATE xxl_job_info
		<set>
			<if test="jobGroup != null and jobGroup != -1">
				job_group = #{jobGroup},
			</if>
			<if test="jobCron != null and jobCron != ''">
				job_cron = #{jobCron},
			</if>
			<if test="jobDesc != null and jobDesc != ''">
				job_desc = #{jobDesc},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="author != null and author != ''">
				author = #{author},
			</if>
			<if test="alarmEmail != null and alarmEmail != ''">
				alarm_email = #{alarmEmail},
			</if>
			<if test="executorRouteStrategy != null and executorRouteStrategy != ''">
				executor_route_strategy = #{executorRouteStrategy},
			</if>
			<if test="executorHandler != null and executorHandler != ''">
				executor_handler = #{executorHandler},
			</if>
			<if test="executorParam != null">
				executor_param = #{executorParam},
			</if>
			<if test="executorBlockStrategy != null and executorBlockStrategy != ''">
				executor_block_strategy = #{executorBlockStrategy},
			</if>
			<if test="executorTimeout != null">
				executor_timeout = ${executorTimeout},
			</if>
			<if test="executorFailRetryCount != null">
				executor_fail_retry_count = ${executorFailRetryCount},
			</if>
			<if test="glueType != null and glueType != ''">
				glue_type = #{glueType},
			</if>
			<if test="glueSource != null and glueSource != ''">
				glue_source = #{glueSource},
			</if>
			<if test="glueRemark != null and glueRemark != ''">
				glue_remark = #{glueRemark},
			</if>
			<if test="glueUpdatetime != null">
				glue_updatetime = #{glueUpdatetime},
			</if>
			<if test="childJobId != null and childJobId != ''">
				child_jobid = #{childJobId},
			</if>
			<if test="triggerStatus != null">
				trigger_status = #{triggerStatus},
			</if>
			<if test="triggerLastTime != null">
				trigger_last_time = #{triggerLastTime},
			</if>
			<if test="triggerNextTime != null">
				trigger_next_time = #{triggerNextTime}
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="java.util.HashMap">
		DELETE
		FROM xxl_job_info
		WHERE id = #{id}
	</delete>

	<select id="getJobsByGroup" parameterType="java.util.HashMap" resultMap="XxlJobInfo">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_job_info AS t
		WHERE t.job_group = #{jobGroup}
	</select>

	<select id="findAllCount" resultType="int">
		SELECT count(1)
		FROM xxl_job_info
	</select>

	<select id="findTypeCount" resultType="int" parameterType="java.util.HashMap">
		SELECT count(1)
		FROM xxl_job_info
		WHERE object_type = #{objectType}
	</select>

	<select id="scheduleJobQuery" parameterType="java.util.HashMap" resultMap="XxlJobInfo">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_job_info AS t
		WHERE t.trigger_status = 1
			and t.trigger_next_time <![CDATA[ <= ]]> #{maxNextTime}
		ORDER BY id ASC
		LIMIT #{pagesize}
	</select>

	<update id="scheduleUpdate" parameterType="com.selegant.xxljob.core.model.XxlJobInfo"  >
		UPDATE xxl_job_info
		SET
			trigger_last_time = #{triggerLastTime},
			trigger_next_time = #{triggerNextTime},
			trigger_status = #{triggerStatus}
		WHERE id = #{id}
	</update>

    <select id="getJobs" resultMap="XxlJobInfo">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_job_info AS t
	</select>

</mapper>
